In [30]:
import numpy as np
import pandas as pd

In [31]:
df=pd.read_csv('products.csv')

In [32]:
df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49688 non-null  int64
 1   product_name   49688 non-null  object
 2   aisle_id       49688 non-null  int64
 3   department_id  49688 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [34]:
df.shape

(49688, 4)

In [39]:
df = df.dropna()
df = df.reset_index(drop=True)

In [40]:
df.shape

(49688, 4)

In [42]:
df.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

In [8]:
df=df.iloc[0:500,0:4]

In [9]:
df.shape

(500, 4)

In [10]:
df.describe()

       product_id    aisle_id  department_id
count  500.000000  500.000000     500.000000
mean   250.500000   69.244000      11.342000
std    144.481833   38.743963       5.967265
min      1.000000    1.000000       1.000000
25%    125.750000   37.000000       7.000000
50%    250.500000   74.000000      11.000000
75%    375.250000  103.000000      17.000000
max    500.000000  134.000000      21.000000

In [11]:
aisle=pd.read_csv('aisles.csv')
dept=pd.read_csv('departments.csv')

In [12]:
aisle.shape

(134, 2)

In [13]:
dept.shape

(21, 2)

In [14]:
aisle.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [15]:
dept.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [17]:
ais_dict={}
for i in aisle:
    ais_dict[i]=aisle['aisle']
ais_dict

{'aisle_id': 0           prepared soups salads
 1               specialty cheeses
 2             energy granola bars
 3                   instant foods
 4      marinades meat preparation
                   ...
 129      hot cereal pancake mixes
 130                     dry pasta
 131                        beauty
 132    muscles joints pain relief
 133    specialty wines champagnes
 Name: aisle, Length: 134, dtype: object,
 'aisle': 0           prepared soups salads
 1               specialty cheeses
 2             energy granola bars
 3                   instant foods
 4      marinades meat preparation
                   ...
 129      hot cereal pancake mixes
 130                     dry pasta
 131                        beauty
 132    muscles joints pain relief
 133    specialty wines champagnes
 Name: aisle, Length: 134, dtype: object}

In [23]:
for i in range(0,500):
    df['aisle_id']=ais_dict['aisle_id']
df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,prepared soups salads,19
1,2,All-Seasons Salt,specialty cheeses,13
2,3,Robust Golden Unsweetened Oolong Tea,energy granola bars,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,instant foods,1
4,5,Green Chile Anytime Sauce,marinades meat preparation,13

In [24]:
dept_dict={}
for i in dept:
    dept_dict[i]=dept['department']

In [26]:
for i in range(0,500):
    df['department_id']=dept_dict['department_id']
df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,prepared soups salads,frozen
1,2,All-Seasons Salt,specialty cheeses,other
2,3,Robust Golden Unsweetened Oolong Tea,energy granola bars,bakery
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,instant foods,produce
4,5,Green Chile Anytime Sauce,marinades meat preparation,alcohol

In [29]:
print(df)

     product_id                                       product_name  \
0             1                         Chocolate Sandwich Cookies
1             2                                   All-Seasons Salt
2             3               Robust Golden Unsweetened Oolong Tea
3             4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4             5                          Green Chile Anytime Sauce
..          ...                                                ...
495         496                          Designer 9 Oz. Paper Cups
496         497                Mascarpone Pistachio Caramel Gelato
497         498                             Daily Moisture Shampoo
498         499                                     Aspirin 325 Mg
499         500                          Non-Scratch Scrub Sponges

                       aisle_id department_id
0         prepared soups salads        frozen
1             specialty cheeses         other
2           energy granola bars        bakery
3                 instant foods       produce
4    marinades meat preparation       alcohol
..                          ...           ...
495                         NaN           NaN
496                         NaN           NaN
497                         NaN           NaN
498                         NaN           NaN
499                         NaN           NaN

[500 rows x 4 columns]

In [43]:
products=df['product_name']
products

0                               Chocolate Sandwich Cookies
1                                         All-Seasons Salt
2                     Robust Golden Unsweetened Oolong Tea
3        Smart Ones Classic Favorites Mini Rigatoni Wit...
4                                Green Chile Anytime Sauce
                               ...
49683            Vodka, Triple Distilled, Twist of Vanilla
49684                   En Croute Roast Hazelnut Cranberry
49685                                     Artisan Baguette
49686           Smartblend Healthy Metabolism Dry Cat Food
49687                               Fresh Foaming Cleanser
Name: product_name, Length: 49688, dtype: object

In [48]:
products=products[0:2000]
sentences=products

In [45]:
import nltk
# Cleaning the texts
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [52]:
ps = PorterStemmer()
wordnet=WordNetLemmatizer()
corpus=[]

In [53]:
for i in range(len(sentences)):
    review = re.sub('[^a-zA-Z]', ' ', sentences[i])# here ^ is the negation mark, it says replace everything in sentence by space otehr than all letters
    review = review.lower()  #converts to lowercase
    review = review.split()
    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)
    
# Creating the Bag of Words model
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 1500) #max features mean total unique words in a sentence
X = cv.fit_transform(corpus).toarray()

In [54]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [ ]:
from sklearn.cluster import KMeans
vectors = W2vVectorizer(glove)

In [57]:
#X = vectors.transform(df['tags'])
from sklearn.metrics import silhouette_samples, silhouette_score
sil = []
kmax = 10
for k in range(2, kmax+1):
    kmeans = KMeans(n_clusters = k).fit(X)
    labels = kmeans.labels_
    sil.append(silhouette_score(X, labels, metric = 'euclidean'))
        
maxpos = sil.index(max(sil))
n_clusters = maxpos + 2

In [59]:
# Divide into k groups using k-mean clustering
model = KMeans(n_clusters=n_clusters, init='k-means++',
               max_iter=300, n_init=100)
model.fit(X)
    
# Create group label column
groups = list(model.labels_)

In [74]:
type(groups)

list

In [75]:
groups=pd.DataFrame(groups)

In [71]:
products=pd.DataFrame(products)

In [76]:
final_prod=pd.concat([groups,products],axis=1)

In [80]:
final_prod[0]

0         2.0
1         1.0
2         0.0
3         7.0
4         7.0
         ...
1996      1.0
1997      1.0
1998      3.0
1999      5.0
labels    NaN
Name: 0, Length: 2001, dtype: float64